node_modules
dist
build
lib
**/lib/*
yarn.lock
package-lock.json
pnpm-lock.yaml
tsconfig.tsbuildinfo
.rollup.cache
.npmrc
**/**/Dockerfile
Dockerfile
README.md
**/**/README.md

**/apps/storybook-ui/
**/apps/huula/
**/apps/ehuula/
**/apps/ehuula/
**/packages/huula/
